body {
	font-family: 'Raleway', sans-serif;
	padding-top:50px
}

header {
    background: #fff;
    height: 50px;
    position: fixed !important;
    top: 0;
    width: 100%;
	z-index:10000;
}

.nav a {
  color: #5a5a5a;	
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url('my_images/image.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;

}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Raleway', sans-serif;

}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}


.jumbotron2 {
  background-image:url('my_images/terrariaimage.png');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;

}

.jumbotron2 .container {
  position: relative;
  top:350px;
  text-align:center;
}

.jumbotron2 h1 {
  color: #FFF;
  font-size: 48px;  
  font-family: 'Raleway', sans-serif;
}

.jumbotron2 p {
  font-size: 20px;
  color: #FFF;
  font-weight:bold;
}

.learn-more {
  background-color: #f7f7f7;
  text-align: center;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {

  color: #00b0ff;
}

.jumbotron3 {
  background-image:url('my_images/gw1.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;

}

.jumbotron3 .container {
  position: relative;
  top:360px;
}

.jumbotron3 h1 {
  color: #000;
  font-size: 48px;  
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.jumbotron3 p {
  font-size: 20px;
  color: #000;
  font-weight:bold;
}

