body {
	font-family: 'Raleway', sans-serif;
}

.nav a {
  color: #5a5a5a;	
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url('my_images/image.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;

}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Raleway', sans-serif;
  /*font-weight: bold;*/
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}


.jumbotron2 {
  background-image:url('my_images/terrariaimage.png');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;

}

.jumbotron2 .container {
  position: relative;
  top:350px;
  text-align:center;
}

.jumbotron2 h1 {
  color: #FFF;
  font-size: 48px;  
  font-family: 'Raleway', sans-serif;
  /*font-weight: bold;*/
}

.jumbotron2 p {
  font-size: 20px;
  color: #FFF;
  font-weight:bold;
}
/*
.first {
    -webkit-animation: bannermove 30s linear infinite;
       -moz-animation: bannermove 30s linear infinite;
        -ms-animation: bannermove 30s linear infinite;
         -o-animation: bannermove 30s linear infinite;
            animation: bannermove 30s linear infinite;
}
 
@keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -2125px;
 }
 
}
 
@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}
 
@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}
 
@-ms-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}
 
@-o-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}

.photobanner {
	height: 233px;
	width: 3550px;
	margin-bottom: 80px;
}

.photobanner img {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
 
.photobanner img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
 
    -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}
*/

.learn-more {
  background-color: #f7f7f7;
  text-align: center;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {

  color: #00b0ff;
}

.jumbotron3 {
  background-image:url('my_images/image-6.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;

}

.jumbotron3 .container {
  position: relative;
  top:360px;
}

.jumbotron3 h1 {
  color: #000;
  font-size: 48px;  
  font-family: 'Raleway', sans-serif;
  /*font-weight: bold;*/
}

.jumbotron3 p {
  font-size: 20px;
  color: #000;
}

